@import '../../styles/variables.css';

/* Contenedor principal */
.container-login {
    background-color: var(--color-background);
    /* border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
    height: 500px;
}

/* Logo */
.logo img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 20px;
    display: block;
}

/* Títulos */
h2 {
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Contenedor del formulario */
.container-form {
    margin-top: 20px;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Botón */
.container-form button {
    width: 90%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-form button.inactive {
    background-color: #f8f9fa;
    color: #6c757d;
    border: 1px solid #6c757d;
    cursor: not-allowed;
}

.container-form button.active {
    background-color: #007bff;
    color: #ffffff;
}

.container-form button.active:hover {
    background-color: #0056b3;
}
/* Mensaje de error */
p {
    color: var(--color-error);
    font-size: 14px;
    margin-bottom: 15px;
}
