@import "../../styles/variables.css";


.personal-table {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 1440px;
}

.personal-table h3 {
    margin-bottom: 20px;
    color: var(--color-primary);
    text-align: center;
    font-size: 1.6rem;
}

.btn_table_personal, 
.btn_modal_personal{
    width:100px ;
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 0.8rem;
    border: none;
    background-color:var(--color-primary);
    color: var(--color-background);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn_modal_personal button:hover {
    background-color: #0056b3;
}
.btn_table_personal  button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 15px;
    overflow-x: auto; /* Default behavior for larger screens */
}

.table-container tr {
    font-size: 1rem;
}
.personal-table table {
    width: 100%;
    border-collapse: collapse;
}

.personal-table th,
.personal-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.personal-table th {
    background-color:var(--color--thback);
    color: var(--color-primary);
    font-size: 1rem;
}

.card-list {
    display: none;
}


/* Responsivo: Formato en Cajas */
@media (max-width: 768px) {
    .table-container {
        overflow-x: unset; /* Desactivar scroll horizontal */
    }

    table {
        display: none; /* Ocultar la tabla */
    }

    .card-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card div {
        margin-bottom: 8px;
    }

    .card div span {
        font-weight: bold;
        color: #127484;
    }

    .card button {
        width: 100%;
        margin-top: 10px;
        padding: 8px 12px;
    }
}
