@import '../../styles/variables.css';
/* Estructura del header */
.header-container {
    background-color: var(--color-background); /* Azul intenso */
    color:var(--color-background);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
   
    /* position: fixed;  */
    
} 


/* Zona izquierda (Logo y texto) */
.header-left {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
}

.header-logo {
    width: 80px;
    height: auto;
    margin-right: 1.6rem;
}

.header-text h2 {
    margin: 0;
    font-size: 18px;
    color:var(--color-primary) ;
}

.header-text p {
    margin: 2px 0;
    font-size: 14px;
    color:var(--color-primary) ;
}

/* Zona derecha (Hora y botón de salir) */
.header-right {
    text-align: right;
    margin-right: 1.6rem;
}
/* .header-right p{
    /* color: var(--color-background);
} */ 
.current-time {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-background);
}

.logout-button {
    padding: 8px 12px;
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-background);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-color: var(--color-background);
}
